
.navbar {
	box-shadow: -18px 6px 5px -7px $black;
}
.side-nav {
	transition: all 0.5s ease-in-out 0s;
	position: absolute;
	width: 5vw;
	position: relative;
	height: 91vh;
	left: -3%;
	border: none;
	border-radius: 0;
	overflow-y: auto;
	background-color: $primary;
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 40px;
	&.show {
		transition: all 0.5s ease-in-out 0s;
		left: 0;
	}
}
.navbar-nav > li {
	width: 100% !important;
	text-align: center;
	&:hover {
		outline: none;
		background-color: $color_mirage_approx !important;
		border-left: 5px $color_chathams_blue_approx solid;
	}
	&.active {
		outline: none;
		background-color: $color_mirage_approx !important;
		border-left: 5px $color_chathams_blue_approx solid;
	}
}
.burger_box {
	display: block;
	left: 1%;
	margin-right: 0.6%;
	margin-top: 7px;
	.menu-icon_box {
		display: inline-block;
		height: 15px;
		position: relative;
		text-align: left;
		width: 25px;
	}
	.menu-icon_line {
		background: $currentColor;
		border-radius: 2px;
		display: inline-block;
		height: 3px;
		position: absolute;
		width: 80%;
	}
	.menu-icon_line--2 {
		top: 6px;
	}
	.menu-icon_line--3 {
		top: 12px;
	}
}