<div class="modal fade" id="flightModal" tabindex="-1" role="dialog" aria-labelledby="flightModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-primary" role="document">
      <div class="modal-content bg-primary">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="flightModalLabel">Flight Information</h5>
          <button type="button" class="close  text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-black "><span><b>Airline Name:</b></span> {{flightinf.name}}</p>
          <p class="text-black "><span><b>Trail No.:</b></span> {{flightinf.trail}}</p>
          <p class="text-black "><span><b>Flight ID:</b></span> {{flightinf.flightId}}</p>          
          <p class="text-black "><span><b>Departure Airport:</b></span> {{flightinf.depAirport}} - {{flightinf.depCountry}}</p>
          <p class="text-black "><span><b>Arrival Airport:</b></span> {{flightinf.arrAirport}} - {{flightinf.arrCountry}}</p>
          <p class="text-black "><span><b>Flight Short Code:</b></span> {{flightinf.shortName}}</p>
          <p class="text-black "><span><b>Flight Telephone:</b></span> {{flightinf.tel}}</p>
          <p class="text-black "><span><b>Flight Terminal:</b></span> {{flightinf.terminal}}</p>

        </div>
       
      </div>
    </div>
  </div>



<div  id="right-tabs" class="float-right d-flex flex-column bg-primary right-tabs">
                           
    <div class="right_icon btn btn-primary pt-3 pb-2">
            <div class="menu-icon-container">
              <a href="#" id="menu-toggle" class="menu-icon js-menu_toggle closed" >
                <span class="menu-icon_box">
                  <span class="menu-icon_line menu-icon_line--1"></span>
                  <span class="menu-icon_line menu-icon_line--2"></span>
                  <span class="menu-icon_line menu-icon_line--3"></span>
                </span>
              </a>
            </div>
    </div>
  
  
    <button class="btn btn-primary pt-3 pb-3 open_flights" >
      <i class="mdi mdi-open-in-new"></i>
    </button>
    
</div>
<div id="sidebar-wrapper" class="bg-primary " >
     
      
        <div class="container nopadding col-12">
          
            <ul class="nav nav-tabs text-center">
              <li class=" nopadding col-6" >
                <a class="nav-link active" href="#fli" data-toggle="tab">Flights <span *ngIf="flights">({{flights.length}})</span></a>
              </li>
              <li class="nopadding col-6" >
                <a class="nav-link" href="#err" data-toggle="tab">Error Flights <span *ngIf="errorFlights">({{errorFlights.length}})</span></a>
              </li>
            
            </ul>
          </div>
      
    
        
          <div class="tab-content">
            <div class="tab-pane active" id="fli">
              <div class="panel panel-default">
              
                <div id="fliTab" class="panel-collapse in">
                  <div class="panel-body  mt-4 pl-2 pr-2">

                    <div id="flights  mt-2" *ngFor="let flight of flights">
                      <div class="container d-inline-block">

                                            <div class="float-left">
                                              <p>Flight ID 
                                                <br>
                                                <b>{{flight.flightId}}</b>
                                              </p>
                                              
                                            </div>

                                            <div class="float-right">
                                                <p>Trail 
                                                  <br>
                                                  <b>{{flight.trail}}</b>
                                                </p>
                                                
                                            </div>

                      </div>
                      <div class="row border-bottom border-secondary ml-2 mt-0 mb-2 mr-2">
                                        <div class="col-2">
                                                <div class="flight-progress">
                                                    <ul>
                                                        <li class="complete departure">
                                                            <a href="#"> 
                                                            </a>
                                                        </li>
                        
                                                        <li class="complete arrival">
                                                            <a href="#">
                                                            </a>
                                                        </li>
                                                      </ul>
                                                </div>
                                        </div>
                                      <div class="col-10">
                                        
                                                    <div class="border-bottom border-secondary">
                                                        <button class="btn btn-danger  btn-sm float-right flight-info-btn" data-toggle="modal" data-target="#flightModal" (click)="getFlightInf(flight)" >Airport Info</button>

                                                      <a class="text-white">{{flight.depAirport}}</a>
                                                      <h6>{{flight.depCountry}}</h6>
                                                    </div>

                                                    <div>
                                                        <a class="text-white">{{flight.arrAirport}}</a>
                                                        <h6>{{flight.arrCountry}}</h6>
                                                      </div>
                                      </div>
                        
                      </div>
                    </div>

                    

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="err">
              <div class="panel panel-default">
            
                <div id="errTab" class="panel-collapse ">
                  <div class="panel-body  mt-4 pl-2 pr-2">
                  
                      <div id="flights  mt-2" *ngFor="let errflight of errorFlights">
                          <div class="container d-inline-block">
    
                                                <div class="float-left">
                                                  <p>Flight ID 
                                                    <br>
                                                    <b>{{errflight.flightId}}</b>
                                                  </p>
                                                  
                                                </div>
    
                                                <div class="float-right">
                                                    <p>Trail 
                                                      <br>
                                                      <b>{{errflight.trail}}</b>
                                                    </p>
                                                    
                                                </div>
    
                          </div>
                          <div class="row border-bottom border-secondary ml-2 mt-0 mb-2 mr-2">
                                            <div class="col-2">
                                                    <div class="flight-progress">
                                                        <ul>
                                                            <li class="complete departure">
                                                                <a href="#"> 
                                                                </a>
                                                            </li>
                            
                                                            <li class="complete arrival">
                                                                <a href="#">
                                                                </a>
                                                            </li>
                                                          </ul>
                                                    </div>
                                            </div>
                                          <div class="col-10">
                                            
                                                        <div class="border-bottom border-secondary">
                                                            <button class="btn btn-danger  btn-sm float-right flight-info-btn"  data-toggle="modal" data-target="#flightModal"  (click)="getFlightInf(errflight)">Airport Info</button>
    
                                                          <a class="text-white">{{errflight.depAirport}}</a>
                                                          <h6>{{errflight.depCountry}}</h6>
                                                        </div>
    
                                                        <div>
                                                            <a class="text-white">{{errflight.arrAirport}}</a>
                                                            <h6>{{errflight.arrCountry}}</h6>
                                                          </div>
                                          </div>
                            
                          </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          
          </div>
      
        
</div>