$primary:#242536;
$currentColor:#ffffff;
$enable-rounded:   false;
$font-family-sans-serif: open sans;
$secondCurrentColor: #989899;
$transparent:#fff0;
$danger:#e74c3c;
$success:#56dc9c;

        a, h1, h2, h3, h4, h5, h6,tr,th,td
                .a, .h1, .h2, .h3, .h4, .h5, .h6 {
                    line-height:2.2807rem;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: $secondCurrentColor !important;
                }
                p{
                    color:$currentColor;
                    font-weight: 100;
                }
                b{
                    color:$currentColor;
                    font-weight: 600 !important;
                }
     body, p {
         color:$currentColor;
                    line-height: 1.61803;
                }
        svg {
            fill: $currentColor;
        }
        .nopadding{
            padding: 0 !important;
        }
        .d-contents{
            display:contents !important;
        }


/* Side Nav */

@media(min-width:768px) {
    /* Burger Box Menu Icon */
    .flight-info-btn {
        width: 38%;
    }
 .burger_box {
    display: block;
    left: 1%;
    margin-right: 0.6%;
    margin-top: 7px;
}

.burger_box .menu-icon_box {
    display: inline-block;
    height: 15px;
    position: relative;
    text-align: left;
    width: 25px;
}

.burger_box .menu-icon_line {
    background: $currentColor;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: absolute;
    width: 80%;
}

.burger_box .menu-icon_line--2 {
    top: 6px;
}

.burger_box .menu-icon_line--3 {
    top: 12px;
}
    .navbar{
       box-shadow: -18px 6px 5px -7px #000;
    }
    .side-nav {

        transition: all 0.5s ease-in-out 0s;
        position: fixed;
        width:4%;
        top: 8.5%;
        left:-3%;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color:$primary;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav.show {
        transition: all 0.5s ease-in-out 0s;
        
        left:0;
    }
    
    .navbar-nav > li {

        width: 100% !important;
        text-align: center;
    }

    .navbar-nav > li:hover,
    .navbar-nav > a:focus,
    .navbar-nav > li.active {
        outline: none;
        background-color: #151524 !important;
        border-left:5px #154e80 solid;
    }
}







 

#sidebar-wrapper {

    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    z-index:1;
    position: fixed;
    width:0;
    height:100%;
    overflow-y:hidden;
    transition:all .5s;
    display:block;
    align-items:center;
    right: 0px;
    
}

#menu-toggle {

    transition:all .5s;

}

#wrapper.menuDisplayed #sidebar-wrapper {
    
        width:25%;
        right: 0px;

}

#wrapper.menuDisplayed  #page-content-wrapper {

    padding-right:25%;

}

/* Material Icons CSS */


.mdi::before {
    font-size: 34px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
    color: $secondCurrentColor;
}
.mdi.settings::before {
    font-size: 20px;
    line-height: 55px;
}

.btn-xs .mdi::before {
  font-size: 18px;
  top: 3px;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: $currentColor;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}


//right side Navbar button


.right_icon {
    display: block;
    float: left;
    border-bottom: 1px $secondCurrentColor solid !important;
}

.right_icon a.menu-icon {
    display: inline-block;
    float: none;
    opacity: 1.5;
    z-index: 100;
}



.right_icon .menu-icon_box {
    display: inline-block;
    height: 25px;
    position: relative;
    text-align: left;
    width: 25px;
}

.right_icon .menu-icon_line {
    background: $secondCurrentColor;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: absolute;
    width: 100%;
}





.right_icon .menu-icon_line--1 {
    transition: top 200ms 250ms, transform 200ms;
    -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
    transform: rotate3d(0, 0, 1, 145deg);
    height: 3.5px;
    width: 15px;
    top:5px;
}

.right_icon .menu-icon_line--2 {
    transition: opacity 0ms 300ms;
    -webkit-transition: opacity 0ms 300ms;
    top: 10px;
    
}

.right_icon .menu-icon_line--3 {
    transition: top 100ms 300ms, transform 200ms;
    -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
    transform: rotate3d(0, 0, 1, 30deg);
    height: 3.5px; 
    width: 15px;
    top: 14px;
}

.right_icon .menu-icon.opened .menu-icon_box {
    transform: scale3d(0.9, 0.9, 0.9);
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
}

.right_icon .menu-icon.opened .menu-icon_line {
    top: 10px;
}

.right_icon .menu-icon.opened .menu-icon_line--1 {
    background: $secondCurrentColor;
    border-radius: 11px;
    display: inline-block;
    height: 5px;
    position: absolute;
    width: 130%;
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transition: top 100ms, transform 200ms 250ms;
    -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
}

.right_icon .menu-icon.opened .menu-icon_line--2 {
    background: $secondCurrentColor;
    border-radius: 11px;
    display: inline-block;
    height: 5px;
    position: absolute;
    width: 130%;
    opacity: 0;
    transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
}

.right_icon .menu-icon.opened .menu-icon_line--3 {
    background: $secondCurrentColor;
    border-radius: 11px;
    display: inline-block;
    height: 5px;
    position: absolute;
    width: 130%;
    transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transition: top 200ms, transform 200ms 250ms;
    -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
}
.right-tabs{
    transition: all 0.5s;
}
.right-tabs.open{
    margin-right: 25%;
}

.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{
    background-color: $transparent !important;
    color:$currentColor !important;
    border-color: $transparent  $transparent  $currentColor  !important;
 border-bottom:4px solid;
} 
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    background-color: $transparent  !important;
    border-color: $transparent  $transparent  $currentColor !important ;
 border-bottom:4px solid;
    
}

.flight-info-btn {

border-radius: 4px !important;
}




.flight-progress ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flight-progress ul>li {
    display: block;
    position: relative;
}

.flight-progress ul>li>a {
    display: block;
    padding: 10px 10px 10px 40px;
    color: #333c4e;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .8px;
}

.flight-progress ul>li>a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 25px);
    background-color: #bdc2ce;
    left: 13px;
    bottom: -9px;
    z-index: 3;
}



.flight-progress ul>li.departure>a:after {
    content: '';
    position: absolute;
    border: 8px solid $danger;
    border-radius: 50%;
    top: 10px;
    left: 6px;
    width: 16px;
    height: 16px;
    z-index: 3;
}
.flight-progress ul>li.arrival>a:after {
    content: '';
    position: absolute;
    border: 8px solid $success;
    border-radius: 50%;
    top: 55px;
    left: 6px;
    width: 16px;
    height: 16px;
    z-index: 3;
}


.flight-progress ul>li.complete>a:before {
   background-color: $currentColor;
   width: 2px;
    opacity: 1;
    height: 50px;
    bottom: -50px;
}











