<div class="modal fade" id="flightModal" tabindex="-1" role="dialog" aria-labelledby="flightModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-primary" role="document">
      <div class="modal-content bg-primary">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="flightModalLabel">Flight Information</h5>
          <button type="button" class="close  text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-black">Name</p>
          <p class="text-black">Short Name</p>
          <p class="text-black">Telephone Number</p>
          <p class="text-black">Terminal</p>
          
        </div>
       
      </div>
    </div>
  </div>
