<nav  class="navbar sticky-top navbar-expand-lg justify-content-between navbar-dark bg-primary">

        <div  class="navbar-nav ">
          <div class="burger_box" id="toggle-left-bar">
            <a data-toggle="collapse" data-target="#sidebar-left" aria-controls="sidebar-left" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="menu-icon_box">
                    <span class="menu-icon_line menu-icon_line--1"></span>
                    <span class="menu-icon_line menu-icon_line--2"></span>
                    <span class="menu-icon_line menu-icon_line--3"></span>
                  </span>
                </a>
          </div>

          
            
          <a class="navbar-brand" href="#">
              <img src="assets/images/logo.png" alt="Logo">
          </a>
        </div>
        
          <div  class="navbar-nav  d-inline-block">
              <a class="nav-item nav-link d-inline-block" href="#">
                  <img class="rounded-circle" src="assets/images/user.jpg" width="40" height="40" alt="Logo">
                    
                  </a>
                  <a class="nav-item nav-link d-inline-block" href="#">
                  <i class="mdi settings mdi-settings text-white"></i>
                </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <div class="burger_box" id="toggle-left-bar">
                      <a data-toggle="collapse" data-target="#sidebar-left" aria-controls="sidebar-left" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu-icon_box">
                              <span class="menu-icon_line menu-icon_line--1"></span>
                              <span class="menu-icon_line menu-icon_line--2"></span>
                              <span class="menu-icon_line menu-icon_line--3"></span>
                            </span>
                          </a>
                    </div>
                </button>
             
            </div>
   
       
      
      
</nav>



