<nav  class="navbar sticky-top navbar-expand-lg justify-content-between navbar-dark bg-primary">

      <!-- Left Side Navbar Items-->
  
        <div  class="navbar-nav d-inline-block w-50">

              <!-- SideNav Button -->

                  <div class="burger_box d-inline-block" id="toggle-left-bar">
                    <a data-toggle="collapse" data-target="#sidebar-left" aria-controls="sidebar-left" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="menu-icon_box">
                            <span class="menu-icon_line menu-icon_line--1"></span>
                            <span class="menu-icon_line menu-icon_line--2"></span>
                            <span class="menu-icon_line menu-icon_line--3"></span>
                          </span>
                        </a>
                  </div>

                  
              <!-- Logo -->
                    
                  <a class="navbar-brand" href="#">
                      <img src="assets/images/logo.png" class="tab" alt="Logo"/>
                      <img src="assets/images/logo2.png" class="mob" alt="Logo"/>
                      
                  </a>

        </div>

      <!-- right Side Navbar Items-->

        <div  class="navbar-nav  d-inline-block">
              <a class="nav-item nav-link d-inline-block" href="#">
                  <img class="rounded-circle" src="assets/images/user.jpg" width="40" height="40" alt="Logo">
                    
                  </a>
                  <a class="nav-item nav-link d-inline-block" href="#">
                  <i class="mdi settings mdi-settings text-white"></i>
                </a>
              
             
        </div>
   
       
      
      
</nav>



